SPRING_APPLICATION_NAME=<your_application_name>
SERVER_PORT=<your_server_port>
SERVER_SERVLET_CONTEXT_PATH=<your_servlet_context_path>

SPRING_DATASOURCE_URL=jdbc:mysql://<your_mysql_host>:<your_mysql_port>/<your_database_name>
SPRING_DATASOURCE_USERNAME=<your_mysql_username>
SPRING_DATASOURCE_PASSWORD=<your_mysql_password>

FILE_UPLOAD_DIR=<your_file_upload_dir>

SPRING_MAIL_HOST=<your_email_host>
SPRING_MAIL_PORT=<your_email_port>
SPRING_MAIL_USERNAME=<your_email_username>
SPRING_MAIL_PASSWORD=<your_email_password>
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_SMTP_STARTTLS_REQUIRED=true

SECRET_KEY=<your secret key>

SPRING_JPA_HIBERNATE_DDL_AUTO=update
